body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./asset/movie\ bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
}
#input{
  border: none;
 width: 30%;
 padding: .8rem 1.6rem;
  border-radius: 4px;
  /* background-color: ; */
}
.box{
  min-height: 42rem;
 /* overflow: scroll; */

}
.movies-list{
  display: flex;
  /* align-items: center; */
  cursor: pointer;
}
.toggle-btn{
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.poster{
  height: 7rem !important;
  width: 5rem !important;
}
.movie-Details{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: rgb(56, 55, 55);
  width: 100%;
}
.desc{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2px;
  justify-content: center;
}
.rating-box{
  background-color: rgb(56, 55, 55);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 7px;
 
}
.details-poster{
  height: 19rem;
  width: 13rem;
}
.summary-box{
  background-color: rgb(56, 55, 55);
}
.summary-details{
  display: flex;
  justify-content: space-between;
  
}
.watched-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
span {
  cursor: pointer;
}
#input:focus{
  border: none;
  outline: none;
 transform: translateY(-3px);
 transition: all .5s;
}